.bookDescription-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.bookDescription-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookDescription-body-detail {
  width: 78%;
  display: flex;
  margin-left: 11%;
  margin-top: 2%;
  justify-content: space-between;
}

.book-image {
  margin-left: 0;
  width: 27%;
}

.book-cover {
  border: 2px solid #d1d1d1;
  width: 80%;
  padding: 1em 2em;
}

.book-description-detail {
  width: 69%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
